body
{
    margin:0;
    padding:0;
    font-family:'open sans','monospace';
}
p
{
    margin:0;
}
.bold
{
    font-weight: bold;
}
.font-32
{
    font-size:1.3rem;
}
.font-100
{
    font-size:3.5rem;
}
a
{
    text-decoration: none;
    color:black;
}
a:hover
{
    color:#49CE1A;
}
.link{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: inline-block;
    position: relative;
}
.link::after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #49CE1A;
  transform-origin: bottom right;
  transition: transform 0.40s ease-out;
}
.link:hover{
    color: #49CE1A;
}
.link:hover::after{
    color: #49CE1A;
    transform: scaleX(1);
  transform-origin: bottom left;
}
.nav
{
    width:95%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    margin-top:2rem;
    margin-bottom:3rem;
}
.nav-link
{
    margin:0 1.4rem 0 1.4rem;
}

.section-1
{
    display:flex;
    width:95%;
    margin:0 auto;
}
.small-icon
{
    height:32px;
    width:32px;
}
.intro-text
{
    display:flex;
    margin-top:6rem;
}
.small-text
{
    margin-top: 0.5rem;
    margin-left:0.5rem;
}

.text-part
{
    margin-left:1.4rem;
}

.big-text
{
    width:52%;
}
.big-icon
{
    position:absolute;
    left:16rem;
    height:72px;
    width:72px;
}
.intro-phrase
{
    align-items: flex-end;
    display:flex;
}
.small-para
{
    margin-top:1.5rem;
    margin-bottom:3rem;
    width:52%;
}
.main-img
{
    position:relative;
    right:8rem;
    margin-top:3rem;
    height: 520px;
    border-radius:4rem;
}
.btn
{
    width:10rem;
    height:3rem;
    background-color: white;
    font-size: 1.3rem;
    color:#49CE1A;
    border: #49CE1A 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.50em;
}
.btn:hover
{
    cursor: pointer;
    background-color: #49CE1A;
    color:white;
}
.section-2
{
    padding-top:5rem;
    display:flex;
    justify-content: space-between;
    width:95%;
    margin:0 auto;
    padding-bottom:3rem;
}
.section-2-main-img
{
    margin-right:5rem;
    width:480px;
    height:300px;
    border-radius:3rem;
}
.section-2-main-text
{
    margin-bottom:2rem;
}
.section-2-small-para
{
    width:70%;
    margin-bottom:3rem;
}


@media screen and (max-width: 768px)
{
    .section-1
    {
        flex-direction: column;
        width:100%;
        margin:0;
    }
    .nav-elements
    {
        display: none;
    }
    .big-text
    {
        font-size:2rem;
        width:90%;
    }
    .intro-text
    {
        margin-top:0.5rem;
    }
    .big-icon
    {
        height:48px;
        width:48px;
        left:8rem;
    }
    .main-img
    {
        right:0;
        height:300px;
    }
    .small-para
    {
        margin-top:1.5rem;
        margin-bottom:3rem;
        width:90%;
        text-align:center;
    }
    .section-2
    {
        flex-direction: column;
    }
    .section-2-main-img
    {
        margin-right:0;
        height:180px;
        width:240px;
    }
    .section-2-main-text
    {
        font-size: 2rem;
        margin-top:2rem;
        text-align: center;
    }
    .section-2-small-para
    {
        text-align: center;
        font-size: 1rem;
        width:100%;
    }
    .image-part
    {
        display:flex;
        justify-content: center;
    }
    .btn
    {
        margin:auto;
    }
}